:root {
    --color-primary: #e63946; /* Rojo primario */
    --color-secondary: #1a1a1a; /* Fondo oscuro */
    --color-background: #e9e9e9; /* Fondo claro */
    --color-header-text: white;
    --color-header-btn-register:#3e3e3e;
    --color-link: #5979ca;
    --color-btn-hover: #d32f2f;
    --color-nav-background: rgba(0, 0, 0, 0.5);
    --color-nav-menu: #5979ca;
    --color-dark-overlay: rgba(0, 0, 0, 0.6);
    --color-light-overlay: rgba(0, 0, 0, 0.3);
    --color-btn-bg: #5979ca; /* Color del botón */
    --color-btn-bg-hover: #3a5494; /* Hover del botón */
    --color-footer-background: #000000;
    --color-footer-background-hover: #3e3e3e;
    --color-text-light: #f8f8f8; /* Color texto en secciones claras */
    --color-text-dark: #000000; /* Color texto en secciones oscuras */
    --color-border: #5979ca; /* Color de borde de los elementos */
    --color-item-bg: white;
    --color-item-shadow: rgba(0, 0, 0, 0.1); /* Sombra de los ítems */
}

/* Rest of your CSS code */
html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-footer-background-hover);
    scroll-padding-top: 2rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--color-background);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url('Images/Restaurante/EntradaRestaurante.jpg') no-repeat center center/cover;
    color: var(--color-header-text);
    margin-top: -3rem;
    padding: 37vh 10px;
    text-align: left;
    position: relative;
}

/* Agregar un fondo oscuro semi-transparente detrás del h1 */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark-overlay);
    z-index: 1;
}

/* Hacer el texto más legible con sombra */
header h1 {
    font-size: 12rem;
    margin: 0;
    padding: 0 2rem;
    position: relative;
    z-index: 2;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

/* Estilo para el logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 15rem;
    border-radius: 50%;
    padding: 0 5rem;
    position: relative;
    z-index: 2;
}


/* Ajustamos el navbar superior */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-footer-background);
    color: var(--color-header-text);
    position: relative; /* Para que el botón ☰ se mantenga dentro */
    z-index: 1100;
}

.top-nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-inicio {
    display: flex;
    gap: 1px; /* Reduce el espacio entre botones */
    border-radius: 20px;
    background-color: var(--color-footer-background);
    transition: background-color 0.6s ease;
}

.nav-btn {
    cursor: pointer;
    font-size: 14px;
    background-color: var(--color-footer-background);
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Asegura que el contenido del botón esté centrado */
    cursor: pointer; /* Cambia el cursor cuando pasa sobre el botón */
    transition: background-color 0.3s ease, transform 0.3s ease;
} 
.carrito {
    background-color: var(--color-footer-background);
    margin: 0rem 1.6rem;
    padding: 1rem 1.2rem 0.8rem 1rem;
}
.carrito:hover {
    background-color: var(--color-header-btn-register);
}

/* Estilos específicos paara cada botón */
.sign-in {
    background-color: var(--color-footer-background);
    color: var(--color-header-text);
    padding: 12px 15px; /* Aumenta el tamaño del botón */
    font-size: 16px; /* Aumenta el tamaño del texto si es necesario */
}
.sign-up {
    background-color: transparent; /* Quita el fondo */
    color: var(--color-primary); /* Cambia el color del texto */
    margin-left: 0.6rem;
    padding: 12px 10px; /* Tamaño del botón */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
}

.sign-in:hover {
    background-color: var(--color-header-btn-register);
}
.sign-up:hover {
    background-color: var(--color-header-btn-register);
}

/* Botón del menú hamburguesa */
.menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

/* Navbar principal */
.main-nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--color-nav-background);
    padding: 1rem 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: none; /* Oculto por defecto */
}

/* Cuando el menú se activa */
.main-nav.show {
    display: block;
}

/* Estilos del menú */
.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    color: var(--color-header-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: var(--color-link);
}


/* Contenedor que hace sticky a ambos navbars */
.sticky-nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1100; /* Asegura que los navbars estén por encima del contenido */
}

/* Estilo para el navbar superior */
.top-navbar {
    background-color: var(--color-footer-background);
    color: var(--color-header-text);
    padding: 8px 20px;
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y los enlaces */
    align-items: center;
    font-size: 14px;
    backdrop-filter: blur(10px);
}

/* Contenedor para alinear el logo en el centro */
.top-navbar .logo-center {
    flex: 1; /* Hace que ocupe todo el espacio disponible */
    display: flex;
    justify-content: center; /* Centra el logo */
}

/* Eliminar position: absolute para que no interfiera con los demás elementos */
.logo-center {
    margin-left: 16rem;
    z-index: 2; /* Se asegura de que no quede cubierto por otros elementos */
    text-align: center; /* Centra el texto dentro del contenedor */
}

/* Estilo para los enlaces dentro del top-navbar */
.top-nav-links {
    display: flex; /* Alinea los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los enlaces */
    justify-content: flex-end; /* Mantiene los enlaces a la derecha */
}

/* Estilos del icono del carrito */
.cart-btn {
    background: none;
    border: none;
}

.cart-icon {
    position: relative;
    font-size: 18px;
}

.cart-icon i {
    color: white;
}

/* Contador de la cesta */
.cart-count {
    background: var(--color-btn-hover);
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 3px 6px;
    position: absolute;
    top: -5px; /* Se coloca sobre el ícono */
    right: -10px; /* Posición en el borde derecho */
    font-weight: bold;
}


.add-to-cart {
    background-color: var(--color-btn-bg); /* Botón con el color azul */
    color: white;
    margin: 1rem 0 0.6rem;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: var(--color-btn-bg-hover); /* Efecto de hover */
}

/* Estilo de los desplegables */
.dropdown {
    position: relative;
}

/* Contenido oculto del desplegable */
.dropdown ul {
    display: none;
    position: absolute;
    top: 100%; /* Se alinea justo debajo del elemento padre */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-light-overlay);
    color: var(--color-text-light);
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0;
    list-style: none; /* Quita los estilos de lista */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Evita que sobresalga contenido */
}

/* Mostrar el contenido desplegable al pasar el ratón */
.dropdown:hover ul {
    display: block;
}

/* Estilos para los enlaces dentro del desplegable */
.dropdown ul li {
    padding: 10px 16px;
    text-align: center;
}

/* Estilo de los enlaces dentro del desplegable */
.dropdown ul li a {
    color: var(--color-texto-claro);
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

/* Estilo de los enlaces dentro del desplegable al pasar el ratón */
.dropdown ul li a:hover {
    background-color: var(--color-fondo-oscuro);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--color-primary);
    color: var(--color-header-text);
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--color-btn-hover);
}

a {
    text-decoration: none;
    color: var(--color-header-text);
}

.inicio {
    background-color: var(--color-secondary);
    color: var(--color-header-text);
    padding: 100px 20px;
}
.inicio .btn {
    margin-right: 10px;  /* Espacio entre los botones */
}


section {
    padding: 50px 20px;
}

/* Ajustes generales para h2 y p */
h2 {
    font-size: 3rem; /* Tamaño ajustado para h2 */
}

p {
    font-size: 1.2rem; /* Tamaño ajustado para p */
    margin: 2rem 5rem; /* Espaciado adecuado para p */
    line-height: 1.8; /* Aumentamos la separación entre líneas */
}

#menu {
    position: relative;
    background: url('Images/Restaurante/Restaurante2.jpg') no-repeat center center/cover;
    color: var(--color-header-text);
    padding: 50px 20px;
}

/* Agregar un fondo oscuro semi-transparente detrás del contenido del menú */
#menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark-overlay);
    z-index: 1;
}

/* Estilo para el contenido del menú (texto y enlaces) */
#menu > * {
    position: relative;
    z-index: 2;
    text-align: left;
    margin-left: 3rem;
}

#menu h2 {
    font-size: 3rem;
    margin: 2rem 5rem;
}

#menu p {
    font-size: 1.2rem;
    margin: 2rem 5rem;
}

#menu ul {
    margin: 2rem 7rem;
    font-size: 1.1rem;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    margin: 0.5rem 0;
}

#menu .btn {
    margin: 2rem;

}

#reservas {
    position: relative;
    background-color: var(--color-secondary);
    color: var(--color-header-text);
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
}

#reservas h2 {
    text-align: left; /* Alinea el título a la izquierda */
    font-size: 3rem;
    margin: 2rem 5rem;
}


#reservas p {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    padding-right: 1rem;
}
#reservas .te-esperamos {
    margin-bottom: 2rem;
}

#reservas .btn {
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--color-primary);
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    width: auto;           /* Asegura que el botón ocupe solo el espacio necesario */
    max-width: 250px;      /* Establece un ancho máximo similar a otros botones */
    margin-left: auto;     /* Centra el botón dentro del contenedor */
    margin-right: auto;    /* Centra el botón dentro del contenedor */
}


#reservas .btn:hover {
    background-color: var(--color-btn-hover);
}

#pedidos {
    position: relative;
    background: url('Images/Restaurante/Restaurante3.jpg') no-repeat center center/cover;
    color: var(--color-header-text);
    padding: 50px 20px;
}

#pedidos h2{
    margin: 2rem 5rem;
}
#pedidos p{
    margin: 2rem 5rem;
}

/* Agregar un fondo oscuro semi-transparente detrás del contenido de pedidos */
#pedidos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark-overlay);
    z-index: 1;
}

/* Estilo para el contenido de pedidos (texto y enlaces) */
#pedidos > * {
    position: relative;
    z-index: 2;
    text-align: left;
}

#contacto {
    background-color: var(--color-secondary);
    color: var(--color-header-text);
}

.galeria {
    background-color: var(--color-text-light);
    color: var(--color-text-dark);
    padding: 50px 20px;
}

.imagenes-galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imagenes-galeria img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px var(--color-light-overlay);
}

.mapa-contenedor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mapa-contenedor iframe {
    width: 90%;
    max-width: 800px; /* Para que no sea demasiado ancho en pantallas grandes */
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px var(--color-light-overlay);
}


footer {
    background: var(--color-footer-background);
    color: var(--color-header-text);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    height: 3rem; /* Ajusta el tamaño de la imagen */
    border-radius: 50%;
}

/* Estilos actualizados para el modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 2000; /* Por encima del navbar */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modal h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal label{
    font-size: 1rem;
}

/* Contenedor del modal */
.modal-content {
    background: white;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    z-index: 2100; /* Asegura que el contenido del modal no quede oculto */
}


/* Estilos de los inputs */
.modal-content input {
    width: 94%;
    padding: 8px;
    margin: 0.3rem 0 1.3rem 0; /* Aumenta el espacio entre los inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    text-align: left;
}

/* Botón de cierre */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

/* Botón de registro */
.modal-content button {
    background-color: #d9232e; /* Rojo estilo japonés */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.modal-content button:hover {
    background-color: #a71b22;
}



.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url('Images/Restaurante/EntradaRestaurante.jpg') no-repeat center center/cover;
    color: white;
    padding: 8rem 10px 5rem;
    text-align: left;
    position: relative;
}

/* Agregar un fondo oscuro semi-transparente detrás del h1 */
.header-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* Hacer el texto más legible con sombra */
.header-menu h1 {
    font-size: 6rem;
    margin: 0;
    padding: 0 2rem;
    position: relative;
    z-index: 2;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

/* Estilo para el logo */
.logo-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-menu img {
    height: 6rem;
    border-radius: 50%;
    padding: 0 5rem;
    position: relative;
    z-index: 2;
}

.menu-section {
    margin: 0rem 10rem 0rem 10rem;
    padding:0rem 0rem 6rem 0rem;
    border-bottom: solid 2px var(--color-border);
}

#vinos{
    border-bottom: none;
}

.menu-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
    gap: 15px; /* Espacio entre los platos */
}

.menu-row {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid var(--color-border);  
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: auto;
    font-size: 0.9rem;
}

.menu-item-img {
    width: auto; /* Mantiene la proporción de la imagen */
    max-width: 150px; /* Limita el tamaño máximo */
    height: 100px; /* Tamaño fijo para todas las imágenes */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
    border-radius: 5px; /* Bordes redondeados */
    display: block;
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

.menu-item .menu-item-img:empty {
    display: block;
}

.menu-item h3 {
    font-size: 1rem;
    margin: 5px 0;
}

.menu-item p {
    font-size: 0.85rem;
    margin: 5px 0;
}

.menu-item span {
    font-size: 0.9rem;
    margin: 5px 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--color-header-text);
}
